@import url('https://fonts.googleapis.com/css?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css?family=Red+Hat+Display&display=swap');
@import url('https://fonts.googleapis.com/css?family=Saira+Extra+Condensed&display=swap');

:root {
    --veryLightGrey:  rgb(233, 231, 231);
    --blueLinks:#0d38a3;
}

body {
    font-family: 'Red Hat Display', sans-serif;
    font-size: 1.15rem;
    line-height: 1.6;
}

/* .stickyFooterContainer and .stickyFooterContent are there to make the footer stick to the bottom of the page. If this changes, both of these can be removed. */

.stickyFooterContainer {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.stickyFooterContent {
    flex-grow: 1;
}

a {
    text-decoration: none;
    color: blue;
}

.blueLinks {
    color: var(--blueLinks);
    text-decoration: underline;
}

h3 {
    font-size: 1.5rem;
    font-weight: 900;
}

a:hover {
    color: blue;
}

.navbarContainer {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    margin: 2rem;
    border-bottom: 1px solid rgb(200, 200, 200);
}

.blogContainer {
    margin: 3rem auto;
    max-width: 650px;
}

.postContainer {
    margin: 2rem;
    padding-right: 4rem;
    padding-left: 2rem;
    border: 1px solid var(--veryLightGrey);
    border-radius: 5px;
    box-shadow: 2px 2px 2px var(--veryLightGrey);
    color: black;
}

.postContainer a:hover {
    color: var(--blueLinks);
}

/* All of the styling in this stylesheet for the post card should be re-factored -- component? Below, in order for there to be no space in the card between the post title and the date, I had to put margin 0 for both the title's bottom margin and the date's top margin. To re-visit. */
.postTitle {
    margin-bottom: 0;
}

.postDate {
    margin-top: 0;
    color: gray;
}

.postContainer:hover {
    box-shadow: 4px 4px 4px var(--blueLinks);
}

@media (max-width: 320px) {
    .navbarContainer {
        flex-direction: column-reverse;
    }
}