.siteTitle {
    font-family: 'Lobster', cursive;
    font-size: 3rem;
    color: rgb(218,165,32);
}

.spanSiteTitle1 {
    font-size: 2.1rem;
    position: relative;
    top: -12px;
    left: 2%;
}

.spanSiteTitle2 {
    font-size: 2.5rem;
    position: relative;
    top: 5px;
    left: 1.3%;
}

.spanSiteTitle3 {
    font-family: 'Saira Extra Condensed', sans-serif;
    color: #323d80;
}

