.navbar {
    display: flex;
    flex-direction: row;
    list-style: none;
}

.navbar li {
    margin-left: 2rem;
}

.navbar li:hover {
    text-decoration: underline;
}

/* here */
.navbar a {
    color: var(--blueLinks);
}

.navbar a:hover {
    color: var(--blueLinks);
}

@media (max-width: 545px) {
    .navbar li {
        margin-left: 0.5rem;
    }
}

@media (max-width: 320px) {
    .navbar {
        padding: 0;
    }
}